@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(112.37deg, #131D4B 0.3%, #2A2752 93.8%);
    color:#FFFFFF; 
    line-height: 1.6; 
    margin: 20px; 
  }
    